//Placeholders
%heading-font {
    font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
    font-weight: 400;
}

%body-font {
    font-family: 'Open Sans', 'Helvetica', 'Arial', 'sans-serif';
    font-weight: 300;
}

%transition-all {
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    -o-transition: all 0.35s;
    transition: all 0.35s;
}

%background-cover {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

%box-shadow {
    box-shadow: 0 3px 9px 0 rgba(41, 41, 51, 0.25);
}

%text-shadow {
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
}