.products
    background-color: $cor-cinza
    min-height: 38rem
    height: auto

.card
    @extend %box-shadow

    .card-body
        .card-text
            min-height: 146px

        .btn-primary
            @extend .btn-cover-primary

            font-size: 1em
            line-height: 1.2em

    @media screen and (max-width: 736px)
        margin-top: 15px
        margin-bottom: 15px