.testimonial
    background-color: $cor-padrao
    min-height: 15rem
    height: auto
    color: $cor-branca

    @extend %text-shadow

    .testimonial-carousel
        img
            margin-bottom: 15px
            max-width: 150px
            max-height: 150px

        p
            font-style: italic
            line-height: 30px