body,
html {
    width: 100%;
    height: 100%;
}

body {
    overflow-x: hidden;
    @extend %body-font;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: center;
    @extend %heading-font;
}

.hidden{
    display: none;
}

.color-primary{
    color: $cor-padrao;
    font-weight: bold;
}