@font-face {
  font-family: "Catamaran";
  src: url("../fonts/catamaran-regular.eot");
  src: url("../fonts/catamaran-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/catamaran-regular.woff2") format("woff2"), url("../fonts/catamaran-regular.woff") format("woff"), url("../fonts/catamaran-regular.ttf") format("truetype"), url("../fonts/catamaran-regular.svg#catamaranregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans-regular.eot");
  src: url("../fonts/opensans-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans-regular.woff2") format("woff2"), url("../fonts/opensans-regular.woff") format("woff"), url("../fonts/opensans-regular.ttf") format("truetype"), url("../fonts/opensans-regular.svg#open_sansregular") format("svg");
  font-weight: normal;
  font-style: normal; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Catamaran", "Helvetica", "Arial", "sans-serif";
  font-weight: 400; }

body {
  font-family: "Open Sans", "Helvetica", "Arial", "sans-serif";
  font-weight: 300; }

.cover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.btn-cover-primary, .card .card-body .btn-primary, .card {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }

.title, .subtitle, .news, .countup, .testimonial {
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5); }

.btn {
  margin: 1.5em 0; }

/* BASE STYLES */
body,
html {
  width: 100%;
  height: 100%; }

body {
  overflow-x: hidden; }

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center; }

.hidden {
  display: none; }

.color-primary {
  color: #1e7aea; }

.no-space {
  margin-left: -15px;
  margin-right: -15px;
  padding-left: 0;
  padding-right: 0; }

.title {
  font-size: 3em;
  font-weight: 700; }

.subtitle {
  font-size: 1.5em !important;
  font-weight: 300 !important;
  line-height: 1.4167 !important; }

.title-block, .cover-title {
  margin: 2em auto; }

/* LAYOUTS */
.navbar-trans {
  background-color: transparent; }

.cover {
  background-image: linear-gradient(rgba(30, 122, 234, 0.2), rgba(30, 122, 234, 0.2)), url("../img/smartphone-6.jpg");
  background-position: center;
  min-height: 100vmin;
  height: auto;
  border-radius: 0;
  color: white;
  padding-top: 1rem; }

.cover-container {
  height: 100%;
  min-height: 40rem; }

.btn {
  box-sizing: border-box;
  text-transform: uppercase;
  color: white; }

.btn-cover-primary, .card .card-body .btn-primary {
  padding: 0.5em 2em;
  border-color: transparent;
  border-radius: 0.15em;
  background-color: #1e7aea;
  font-size: 1.2em;
  font-weight: bold;
  line-height: 3em; }
  .btn-cover-primary:hover, .card .card-body .btn-primary:hover {
    color: white;
    background-color: #1262c3; }

.btn-cover-secondary, .news-inner .btn-news-primary {
  margin-top: 1.5em;
  padding: 0.5em 1.2em;
  border-color: white;
  border-radius: 0.1em;
  background-color: transparent;
  font-size: 1em;
  line-height: 2.6em; }
  .btn-cover-secondary:hover, .news-inner .btn-news-primary:hover {
    opacity: 0.7;
    color: black;
    background-color: white; }

.cover-link {
  text-decoration: underline;
  color: white; }
  .cover-link:hover {
    color: white; }

.news {
  background-image: url("../img/smartphones.png"), url("../img/patterns/zwartevilt.png");
  background-repeat: no-repeat, repeat;
  background-position: right top, top left;
  padding-top: 1rem;
  min-height: 38rem;
  height: auto;
  color: white; }

.news-container {
  height: 100%;
  min-height: 30rem; }

.news-inner {
  margin: 3em 50% 3em 0; }
  .news-inner .news-title {
    text-align: left;
    margin-bottom: 2em; }
  @media (max-width: 1024px) {
    .news-inner {
      margin-right: 0; }
      .news-inner .news-title {
        text-align: center; }
      .news-inner .btn-news-primary {
        margin: 0 auto; } }

.products {
  background-color: #f4f4f4;
  min-height: 38rem;
  height: auto;
  padding-bottom: 3em; }

.card .card-body .card-text {
  min-height: 146px; }

.card .card-body .btn-primary {
  font-size: 1em;
  line-height: 1.2em; }

@media screen and (max-width: 736px) {
  .card {
    margin-top: 15px;
    margin-bottom: 15px; } }

.countup {
  background: rgba(30, 122, 234, 0.2);
  padding-top: 1px;
  height: auto;
  color: white; }

.container {
  height: 100%;
  min-height: 40vmin;
  padding-bottom: 3em; }

.item {
  padding: 0.25em auto; }
  .item .item-icon {
    font-size: 1.5em; }
  .item .item-count {
    padding: 0.2em 0;
    font-size: 3em; }
  .item .item-text {
    font-size: 1.2em; }
  @media screen and (max-width: 768px) {
    .item {
      margin-top: 15px;
      margin-bottom: 15px; } }

.testimonial {
  background-color: #1e7aea;
  min-height: 15rem;
  height: auto;
  color: white; }

.slider-item .col-left {
  width: 25%;
  float: left; }
  .slider-item .col-left img {
    margin-bottom: 15px; }

.slider-item .col-right {
  width: 75%;
  float: right; }
  .slider-item .col-right p {
    margin: 0 auto;
    display: inline-block;
    vertical-align: middle;
    line-height: 30px;
    font-style: italic; }

@media screen and (max-width: 768px) {
  .slider-item .col-left {
    width: 100%; }
  .slider-item .col-right {
    width: 100%; } }

footer {
  background: url("../img/patterns/zwartevilt.png") repeat;
  width: 100%;
  height: 300px; }

/* MODULES */
