@font-face {
  font-family: 'Catamaran';
  src: url("../fonts/catamaran-regular.eot");
  src: url("../fonts/catamaran-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/catamaran-regular.woff2") format("woff2"), url("../fonts/catamaran-regular.woff") format("woff"), url("../fonts/catamaran-regular.ttf") format("truetype"), url("../fonts/catamaran-regular.svg#catamaranregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/opensans-regular.eot");
  src: url("../fonts/opensans-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans-regular.woff2") format("woff2"), url("../fonts/opensans-regular.woff") format("woff"), url("../fonts/opensans-regular.ttf") format("truetype"), url("../fonts/opensans-regular.svg#open_sansregular") format("svg");
  font-weight: normal;
  font-style: normal; }
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 400; }

body {
  font-family: 'Open Sans', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 300; }

.cover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.cover .cover-inner .btn-primary {
  box-shadow: 0 3px 9px 0 rgba(41, 41, 51, 0.25); }

.cover .cover-inner h1, .cover .cover-inner p {
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5); }

body,
html {
  width: 100%;
  height: 100%; }

body {
  overflow-x: hidden; }

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center; }

.hidden {
  display: none; }

.color-primary {
  color: #c24e4b;
  font-weight: bold; }

.navbar-trans {
  background-color: transparent; }

.cover {
  background-image: url("../img/cup-of-coffee.jpg");
  background-position: center;
  min-height: 48rem;
  height: auto;
  border-radius: 0;
  color: #fff;
  padding-top: 1rem; }
  .cover .cover-container {
    height: 100%;
    min-height: 40rem;
    margin: 0 auto; }
  .cover .cover-inner h1 {
    margin: .8em 0;
    font-size: 3.5em;
    font-weight: 700; }
  .cover .cover-inner p {
    margin-bottom: .8em;
    font-size: 1.5em;
    font-weight: 300;
    line-height: 1.4167; }
  .cover .cover-inner .logo {
    max-width: 25%; }
  .cover .cover-inner .btn {
    margin: .8em 0;
    box-sizing: border-box;
    text-transform: uppercase;
    color: #fff; }
  .cover .cover-inner .btn-primary {
    padding: .5em 2em;
    border-color: transparent;
    border-radius: 0.15em;
    background-color: #c24e4b;
    font-size: 1.2em;
    font-weight: bold;
    line-height: 3em; }
    .cover .cover-inner .btn-primary:hover {
      background-color: #a33a37; }
  .cover .cover-inner .btn-secondary {
    margin-top: 1.5em;
    padding: .5em 1.2em;
    border-color: #fff;
    border-radius: 0.1em;
    background-color: transparent;
    font-size: 1em;
    line-height: 2.6em; }
    .cover .cover-inner .btn-secondary:hover {
      opacity: 0.7;
      color: #000;
      background-color: #fff; }

/*# sourceMappingURL=main.css.map */
